@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

body{
    font-family:'Overpass', sans-serif;
    background-color: black;
}


#content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100vw;


}
.select-number-button{
    width:50px;
    height:50px;
    background-color: hsl(213, 19%, 18%);
    color:white;
    
    border-radius: 50%;
}


.select-number-button:hover{
    background-color: hsl(25, 100%, 67%);
    color:black
}


.select-number-button:active{
    background-color: hsl(25, 97%, 53%);
    color:black
}

.selected{
    background-color: hsl(25, 97%, 53%);
    color:black
}
.selected:hover{
    background-color: hsl(25, 97%, 53%);
    color:black
}

#submit-button{
   background-color: hsl(25, 97%, 53%);
   height:50px;
   width:100%;
    border-radius: 25px;
}

#submit-button:hover{
    background-color: white;
    color:hsl(25, 97%, 53%);
}

#rating-card{
    width: 375px;
    background-color: hsl(216, 12%, 8%);
    border-radius: 30px;
    padding: 20px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    color:white;
}

#rating-card >p{
    color: hsl(217, 12%, 63%);
}

.buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top:40px;
    margin-bottom:40px;
}

.card-text{
    margin-top:10px;
}

.card-header{
    margin-top:20px;
}

#star-button{
    width:50px;
    height:50px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:20px;
}

#thankyou-container{
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 375px;
    
    background-color: hsl(213, 19%, 18%);
    color:#ffffff;
}

#thankyou-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 375px;
    background-color: hsl(216, 12%, 8%);
    border-radius: 30px;
    padding: 20px;
    margin: 0px auto;
    color:white;
}

#thankyou-image{
    
    height: 100px;
    margin-top:20px;
    margin-bottom:20px;
}

#thankyou-rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    margin-top:20px;
    margin-bottom:20px;
    height:50px;
    background-color: hsl(213, 19%, 18%);
    color:hsl(25, 97%, 53%);
    border-radius: 25px;
}



#thankyou-thanks{
    color: white;
    font: 1.5rem 'Overpass', sans-serif;
    margin-top: 20px;
    text-align: center;

}

#thankyou-text{
    color: hsl(217, 12%, 63%);
    margin-top: 20px;
    text-align: center;
    margin-bottom:10px;
}




